<ion-content padding>

  <ion-list inset>

    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="usuario.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="usuario.password"></ion-input>
    </ion-item>

    <button ion-button (click)="llevameSinRegreso()">Login</button>
    <button [navPush]="registro">Sign up</button>
  </ion-list>

</ion-content>
