<ion-header>
  <ion-navbar hide-tabs>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only [navPush]="uploadPage">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
  <ion-card-header>
    Hello {{username}}!
  </ion-card-header>
</ion-card>

  <ion-card *ngIf="videos">
    <ion-card *ngFor="let video of videos">
      <ion-card-header>
        {{video.titulo}}
      </ion-card-header>
      <ion-card-content>
        Tags: <span *ngFor="let tag of video.tags">{{tag}},</span>
      </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-card>
    <ion-card *ngFor="let rusty of rusties">
      <ion-card-header>
        {{rusty.title}}
      </ion-card-header>
      <ion-card-content>
        <img [src]="rusty.img" alt="">
      </ion-card-content>
    </ion-card>
  </ion-card>
  
</ion-content>
