<!--
  Generated template for the Upload page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Upload</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #formulario="ngForm" (ngSubmit)="uploadVideo(formulario)">
    <ion-list>
      <!-- Ojo! si tiene botones dentro del formulario, estos deben tener el
      tipo type="button" para evitar lanzar el evento ngSubmit -->
      <ion-item>
        <ion-label floating>Titulo:</ion-label>
        <ion-input type="text" name="titulo" value="Test " ngModel required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Tags:</ion-label>
        <ion-input type="text" name="tags" value="some,tags, here" ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Video:</ion-label>
        <ion-input type="file" name="file" value="some" ngModel required></ion-input>
      </ion-item>

      <ion-item>
        <button type="submit" ion-button full [disabled]="formulario.value.file == '' || formulario.value.titulo == ''">Submit</button>
      </ion-item>

    </ion-list> 
  </form>
</ion-content>
